@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <b>Name: </b> @Html.TextBox("Name"," " , new {placeholder="Jhon Doe"}) 
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
        <b>Password: </b> @Html.TextBox("Password", null, null, new { type = "password", style="color:red", id="claveFachera"})
    ;
}


</div>
