@page
@model RPC_Authentication.Model.User
@{

}

    <link rel="stylesheet" href="~/css/Styles.css" />

<form method="post">
	<section class = "infoContainer">

		<label class = "labelInput">User name: </label>
		<input class="textInput" type="text" asp-for="Username" placeholder="Username" />

		<label class = "labelInput">Password: </label>		
		<input class="textInput" type="password" asp-for="Password" placeholder="Password" />
		
		<label class = "labelInput">First name: </label>
		<input class="textInput" type="text" asp-for="FirstName" placeholder="Firstname" />
		
		<label class = "labelInput">Last name: </label>
		<input class="textInput" type="text" asp-for="LastName" placeholder="Lastname" />
		
		<label class = "labelInput">Birth date: </label>
		<input class="textInput" type="date" asp-for="Birthdate" placeholder="Birthdate" />
	</section>
		<button id = "registerButton" type="submit">Sign in</button>


</form>
