@page
@model RPC_Authentication.Model.User
@{

}

<form method="post">
	<input type="text" asp-for="Username" placeholder="Username" />
	<input type="text" asp-for="Password" placeholder="Password" />
	<input type="text" asp-for="FirstName" placeholder="Firstname" />
	<input type="text" asp-for="LastName" placeholder="Lastname" />
	<input type="date" asp-for="Birthdate" placeholder="Birthdate" />
	<button type="submit">Submit</button>
</form>
