@page
@model RPC_Authentication.Model.User
@{

}

    <link rel="stylesheet" href="~/css/Styles.css" />

<form method="post">
	<section class = "infoContainer">

		<input class="textInput" type="text" asp-for="Username" placeholder="Username" />
		<input class="textInput" type="text" asp-for="Password" placeholder="Password" />
		<input class="textInput" type="text" asp-for="FirstName" placeholder="Firstname" />
		<input class="textInput" type="text" asp-for="LastName" placeholder="Lastname" />
		<input class="textInput" type="date" asp-for="Birthdate" placeholder="Birthdate" />

		<label class = "labelInput">User name: </label>
		<label class = "labelInput">Password: </label>
		<label class = "labelInput">First name: </label>
		<label class = "labelInput">Last name: </label>
		<label class = "labelInput">Birth date: </label>

		<button type="submit">Submit</button>

	</section>

</form>
